In [1]:
import pandas as pd

C:\Users\baps\AppData\Local\Temp\ipykernel_21048\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [11]:
df=pd.read_csv("assets/FakeNewsNet.csv")

In [12]:
df.head()

,title,news_url,source_domain,tweet_num,real
0,Kandi Burruss Explodes Over Rape Accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,People's Choice Awards 2018: The best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,Sophia Bush Sends Sweet Birthday Message to 'O...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,Colombian singer Maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,Gossip Girl 10 Years Later: How Upper East Sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1

In [13]:
df.drop(columns=["news_url","source_domain","tweet_num"],inplace=True)

In [14]:
df.head()

                                               title  real
0  Kandi Burruss Explodes Over Rape Accusation on...     1
1  People's Choice Awards 2018: The best red carp...     1
2  Sophia Bush Sends Sweet Birthday Message to 'O...     1
3  Colombian singer Maluma sparks rumours of inap...     1
4  Gossip Girl 10 Years Later: How Upper East Sid...     1

In [16]:
df.shape

(23196, 2)

In [17]:
df.describe()

               real
count  23196.000000
mean       0.751897
std        0.431921
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000

In [20]:
df.isna().sum()

title    0
real     0
dtype: int64

In [34]:
from sklearn.model_selection import train_test_split


x_train,x_test,y_train,y_test=train_test_split(df["title"],df["real"],test_size=.2)

In [35]:
len(x_train)==len(y_train)

True

In [36]:
y_train.head()

19538    1
16163    1
18415    1
5567     1
17981    1
Name: real, dtype: int64

### Attempt 1 :

using sklearn pipeline module create a classification pipeline to classify the Data.

### Note:

using CountVectorizer with unigram, bigram, and trigrams.
use KNN as the classifier with n_neighbors of 10 and metric as 'euclidean' distance.
print the classification report.

In [32]:
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer

result={}
def getPipeline(model,ngram:tuple[float,float]=(1,1)):
    return Pipeline([
        ("countVactoreizer",CountVectorizer(ngram_range=ngram)),
        ("model",model)
    ])

pipe12=getPipeline(
    KNeighborsClassifier(10,metric="euclidean"),
    (1,2)
)

In [50]:
def getreport(pipe):
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    return classification_report(y_test,y_pred)

In [51]:
print(getreport(pipe12))

              precision    recall  f1-score   support

           0       0.66      0.21      0.32      1147
           1       0.79      0.96      0.87      3493

    accuracy                           0.78      4640
   macro avg       0.72      0.59      0.59      4640
weighted avg       0.76      0.78      0.73      4640

In [52]:
pipe12.score(x_test,y_test)

0.777801724137931

In [53]:
print(getreport(getPipeline(
    KNeighborsClassifier(n_neighbors=10,metric="cosine"),
    (1,2)
)))

              precision    recall  f1-score   support

           0       0.63      0.54      0.58      1147
           1       0.85      0.90      0.87      3493

    accuracy                           0.81      4640
   macro avg       0.74      0.72      0.73      4640
weighted avg       0.80      0.81      0.80      4640

In [54]:
from sklearn.naive_bayes import MultinomialNB


print(getreport(getPipeline(
    MultinomialNB(alpha=.75),
    (1,2)
)))

              precision    recall  f1-score   support

           0       0.77      0.59      0.67      1147
           1       0.88      0.94      0.91      3493

    accuracy                           0.86      4640
   macro avg       0.82      0.77      0.79      4640
weighted avg       0.85      0.86      0.85      4640

In [55]:
from sklearn.naive_bayes import MultinomialNB


print(getreport(getPipeline(
    MultinomialNB(alpha=.75),
    (1,3)
)))

              precision    recall  f1-score   support

           0       0.79      0.54      0.64      1147
           1       0.86      0.95      0.91      3493

    accuracy                           0.85      4640
   macro avg       0.83      0.75      0.77      4640
weighted avg       0.85      0.85      0.84      4640

In [57]:
from sklearn.ensemble import RandomForestClassifier


print(getreport(getPipeline(
    RandomForestClassifier(n_estimators=10),
    (1,3)
)))

              precision    recall  f1-score   support

           0       0.75      0.41      0.53      1147
           1       0.83      0.96      0.89      3493

    accuracy                           0.82      4640
   macro avg       0.79      0.68      0.71      4640
weighted avg       0.81      0.82      0.80      4640