In [2]:
import pandas as pd
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt

In [3]:
iris=load_iris()
print(dir(iris))

['DESCR', 'data', 'data_module', 'feature_names', 'filename', 'frame', 'target', 'target_names']

In [8]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [18]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [20]:
df=pd.DataFrame(data=iris.data,columns=iris.feature_names)
df["target"]=iris.target
df["target_name"]=df["target"].apply(lambda i:iris.target_names[i])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [22]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=["target","target_name"]),df["target"],test_size=.2)

In [26]:
from sklearn.ensemble import RandomForestClassifier
def getScore(n_estimators=10):
    model=RandomForestClassifier(n_estimators=n_estimators)
    model.fit(x_train,y_train)
    return model.score(x_test,y_test)

In [27]:
getScore()

0.9666666666666667

In [28]:
res=[]
for i in range(10,100,10):
   res.append(getScore(i))
res

[0.9666666666666667,
 0.9666666666666667,
 0.9666666666666667,
 0.9666666666666667,
 0.9666666666666667,
 0.9333333333333333,
 0.9666666666666667,
 0.9666666666666667,
 0.9666666666666667]